*{
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
	font-smoothing:antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body{
	font-size:62.5%;
	background-image:url('tilepcb.png');
}
h1,h2,h3{
	font-family:"Roboto";
}
p, ul, ol{
	font-family:"Roboto Slab";
}
a:link{
	color:#FFF;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    text-decoration:none;
    border-bottom:1px dashed #333;
}
a:visited{
	color:#FFF;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    border-bottom:1px dashed #333;
}
a[href ^="http"] {
	padding: 5px 20px 0 0;
    background: url(img/icon_external.gif) no-repeat right 50%;
}
#languages{
	margin:auto;
	padding:2em;
	font-size:2em;
}
#container{
	width:50vw;
	padding:25px;
	margin:auto;
	background: rgba(255,255,255,.75);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#container h1{
	padding-top:1em;
	font-size:2em;
}
#container h2{
	padding-top:.75em;
	font-size:1.75em;
}
#container p{
	padding-top:.5em;
	font-size:1.5em;
}
.m-cover {
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	background-position: top center;
	height: 100vh;
	position: relative;
	z-index: 9999;
	overflow: hidden;
}
.m-cover h1{
	padding-top:25vh;
	width:50vw;
	margin:auto;
	font-size:10vh;
}
.m-cover h2{
	width:50vw;
	margin:auto;
	font-size:5vh;
}
.m-cover h3{
	width:50vw;
	margin:auto;
	font-size:2.5vh;
}
.front{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
}
.back{
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	-o-transform:rotateX(180deg);
	transform:rotateX(180deg);
	position:absolute;
	display:block
}
.m-pull{
	font-weight: 200;
	font-size: 24px;
	-webkit-transition: opacity 300ms ease;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 300ms;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: initial;
	-moz-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease;
	transition-delay: initial;
	color: #fff;
	line-height: 1.2;
}
.picture{
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}