@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
	margin-left: 0;
	padding-left: 0;
	overflow-x: hidden;
}

hr {
	margin-top: 1vh;
	margin-bottom: 2vh;
	border-top-color: #EEE;
	margin-left: 0;
	padding-left: 0;
	width: 100vw;
}

a {
	text-decoration: none;
	color: #0873AA;
}

a:hover {
	color: darkslategrey;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-family: "Open Sans";
}

p, li {
	font-family: "Merriweather";
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

#header {
	width: 75vw;
	margin: 0 auto;
}

#header h1 {
	display: inline;
	color: white;
	padding-top: 4vh;
	padding-left: 0.5vw;
	max-width: 50%;
}

ul#socialIcons {
	padding-left: 0;
	display: inline;
	list-style-type: none;
	margin: 0;
	padding-right: 0.5vw;
}

li.socialIcon {
	display: inline;
}

.socialIcon img {
	width: 3vw;
	height: 3vw;
}

#container {
	width: 75vw;
	margin: 0 auto;
}

#blog {
	width: 75%;
	float: left;
}

#blog ul {
	list-style: none;
	padding-left: 0.5vw;
	margin-top: 0;
}

#sidebar {
	width: 25%;
	float: right;
}

#sidebar ul, #sidebar h4 {
	margin-top: 0;
	padding-left: 0;
	margin-left: 2vw;
}

#sidebar li {
	list-style: none;
	margin-bottom: 1vh;
}

.postDate {
	color: grey;
	font-family: "Arial";
	font-size: 0.9em;
	text-transform: uppercase;
	margin-bottom: 1vh;
}

li p {
	margin-top: 0;
}