<!DOCTYPE html>
<head>
	<title>Ezra Brooks &mdash; {{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/main.css"/>
	<script src="/scripts/HubLinker/hublinker.js"></script>
	<script type="text/javascript">
		window.addEventListener("load", function() {
			HubLinker.getSites("EzraBrooks").forEach(function(element){
				var listItem = document.createElement("li");
				var site = document.createElement("a");
				site.textContent = element.name;
				site.href = element.url;
				listItem.appendChild(site);
				document.getElementById("sites").appendChild(listItem);
			}, this);
			HubLinker.getRepositories("EzraBrooks").forEach(function(element){
				var listItem = document.createElement("li");
				var repository = document.createElement("a");
				repository.textContent = element.name;
				repository.href = element.html_url;
				listItem.appendChild(repository);
				document.getElementById("projects").appendChild(listItem);
			}, this);
		});
	</script>
</head>
<body>
	<div id="header">
		<h1 id="siteTitle"><a href=
			{% if page.title == 'Home' %}
				"#"
			{% else %}
				"/"
			{% endif %}
		>Ezra Brooks</a></h1>
	</div>
	<hr/>
	<div id="container">
		<div id="blog">
			{{ content }}
		</div>
		<div id="sidebar">
			<ul id="socialIcons">
				<li class="socialIcon"><a href="https://www.twitter.com/Ezra_M_Brooks"><img src="/images/twitter-icon.svg" alt="Twitter"></a></li>
				<li class="socialIcon"><a href="https://github.com/EzraBrooks"><img src="/images/github-icon.svg" alt="GitHub"></a></li>
				<li class="socialIcon"><a href="https://www.linkedin.com/profile/view?id=AAIAABYwPqYBffeB8Y3qVH-BgWoIXLboIQcp-E8"><img src="/images/linkedin-icon.svg" alt="LinkedIn"></a></li>
			</ul>
			<h4>Other Sites By Me</h4>
			<ul id="sites"></ul>
			<h4>My Projects</h4>
			<ul id="projects"></ul>
		</div>
	</div>
</body>